<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ExamOnline</display-name>
  <servlet>
    <description>ServletExample</description>
    <display-name>firstServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OptionServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.OptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionServlet</servlet-name>
    <url-pattern>/OptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeKeyServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.ChangeKeyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MsgDetailServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.MsgDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PaperInfoServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.PaperInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowPaperServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.ShowPaperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalScoreServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.CalScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExcelImportDBService</servlet-name>
    <servlet-class>me.zxks.db.service.ExcelImportDBService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelImportDBService</servlet-name>
    <url-pattern>/ExcelImportDBService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayByPagesServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.DisplayByPagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayByPagesServlet</servlet-name>
    <url-pattern>/DisplayByPagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestS</servlet-name>
    <servlet-class>me.zxks.web.controller.TestS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestS</servlet-name>
    <url-pattern>/TestS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class> me.zxks.verifycode.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaperManagerServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.PaperManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperManagerServlet</servlet-name>
    <url-pattern>/PaperManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestResultServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.TestResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestResultServlet</servlet-name>
    <url-pattern>/TestResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemGradingServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.ItemGradingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalItemServlet</servlet-name>
    <servlet-class>me.zxks.web.controller.CalItemServlet</servlet-class>
  </servlet>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>me.zxks.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>server</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>db</param-name>
    <param-value>examonline</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>pwd</param-name>
    <param-value>1234</param-value>
  </context-param>
</web-app>